<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZeeLab Pharmacy - Bone & Joints Products</title>
    <style>
        .item-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start; /* Left-align items */
        }

        .item-box {
            border: 2px solid black; /* Border style */
            padding: 10px;
            margin: 10px;
            text-align: center;
            width: 200px; /* Adjust the width as needed */
        }

        .item-box img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <center><h1>ZeeLab Pharmacy - Bone & Joints Products</h1></center>
    <div class="item-container">
        {% for index in range(data['Title']|length) %}
            <div class="item-box">
                <img src="{{ data['Image Url'][index] }}" alt="Product Image">
                <p>{{ data['Title'][index] }}</p>
                <p>Price: {{ data['Product Price'][index] }}</p>
                <p><a href="{{ data['Product Link'][index] }}">Product Link</a></p>
                <p>{{ data['Product Info'][index] }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
